/* BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY*/
body {
      background-color: #F5F5F5;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER*/

/* Шрифт и Цвет Текстового Логотипа */
.logo-header {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.03em;
      color: black;
}

/* Цвет части текста "Web" Текстового Логотипа */
.blue-web {
      color: #2196F3;
}

/* Отмена цвета по умолчанию текста ссылок навигации */
a[href="./index.html"],
a[href="./portfolio.html"],
a[href="./contacts.html"] {
      color: #212121;
}

/* Отмена цвета по умолчанию текста ссылок контактов */
a[href="mailto:info@devstudio.com"],
a[href="tel:+380961111111"] {
      color: #757575;
}

/* Шрифт и цвет текста ссылок навигации */
.pages,
.contacts {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #212121;
}

/* Цвет текста ссылок навигации и контактов 
при наведениии курсора мыши :hover изменяется */
.pages-studio-hover:hover,
.contacts-email-hover:hover,
.contacts-tel-hover:hover {
      color: #2196F3;
}

/* Назначение каждой части хедера метода отображения flex*/
.logo-header,
.pages,
.contacts {
      display: flex;
      padding: 0px;
      margin: 0px;
}

/* Рассположение трёх частей хедера в ряд */
.header-background {
      width: 1600px;
      height: 80px;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: row;
}

/* Отступы между частями хедера согласно макету */
/* Расстояние отступа внешнего от предыдущего элемента части
 определенно в margin-left */
.logo-header {
      margin-left: 215px;
      margin-top: 24px;
      margin-bottom: 25px;
}

.pages {
      margin-left: 93px;
      margin-top: 32px;
      margin-bottom: 32px;
}

.contacts {
      margin-left: 344px;
      margin-top: 32px;
      margin-bottom: 32px;
}

/* Отступ внутренний между Портфолио определён
с помощью padding-.. */
.portfolio-padd {
      padding-left: 50px;
      padding-right: 50px;
}

.tel-padd {
      padding-left: 50px;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN*/

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO*/

/* Цвет и размер блока HERO */
.main-top-section-background {
      width: 1600px;
      height: 600px;
      background-color: #2F303A;
      margin: 0px;
      padding: 0px;

}

/* Размещение текста и кнопки по центру блока */
.main-top-section-title,
.main-top-section-button {
      text-align: center;
      display: block;
}

/* Размер и позиция блока заголовка HERO */
.main-top-section-title {
      width: 696px;
      height: 120px;
      margin: 0px;
      padding-top: 200px;
      padding-left: 452px;
      padding-right: 452px;
}

/* Размер и позиция блока кнопки "Замовити послугу" */
.box {
      width: 216px;
      height: 50px;
      margin: 0px;
      padding: 30px 692px;
      background: #2196F3;
}

/* Шрифт и цвет заголовка секции HERO */
.main-top-section-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #FFFFFF;
}

/* Шрифт и цвет заголовка кнопки "Замовити послугу" */
.button-style {
      background: #2196F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
}


/* КАЧЕСТВА СТУДИИ КАЧЕСТВА СТУДИИ КАЧЕСТВА СТУДИИ КАЧЕСТВА СТУДИИ КАЧЕСТВА СТУДИИ*/

/* Размеры и позиция секции качеств студии */
.qualitie {
      width: 1600px;
      height: 98px;
      margin-top: 94px;
      margin-left: 215px;
      padding: 0px;
}

/* Размеры и позиция єлементов секции качеств студии */
.qualitie-details,
.qualitie-punctual,
.qualitie-planning,
.qualitie-techs {
      width: 270px;
      padding-left: 15px;
      padding-right: 15px;
}

/* Отмена оформления метки элементов списков */
.qualitie-feature,
.specs-images {
      list-style-type: none;
}

/* Список качеств студии позиционирование списка в ряд */
.qualitie-feature {
      display: flex;
      flex-direction: row;
}

/* Шрифт и цвет заголовков */
.qualitie-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #212121;
}

/* Шрифт и цвет текста обзацев */
.qualitie-paragraf {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #757575;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.team-title {
      width: 1600px;
      text-align: center;

      margin-top: 94px;
      margin-bottom: 50px;
}

/* Фото в ряд */
.specs-images {
      width: 1600px;
      display: flex;
      flex-direction: row;
      margin-left: 215px;
}

/* Отступы между картинками */
.images-padd {
      padding-right: 30px;
}



/* НАША КОМАНДА НАША КОМАНДА НАША КОМАНДА НАША КОМАНДА НАША КОМАНДА*/

/* Резмер, отступы, шрифт и цвет для зоголовка */
.team-title {
      width: 1600px;
      text-align: center;

      margin-top: 94px;
      margin-bottom: 50px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.03em;
      color: #212121;
}
/* Цвет фона, размеры и оформление тени карточки сотрудника */
.team-card-background {
      width: 270px;
      height: 368px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
}

/* Задание типа блока и отступ слева для фото */
.team-photos {
      display: flex;
      flex-direction: row;
      margin-left: 215px;
}

/* Отступы между фото */
.team-photos>li {
      padding-right: 30px;
}

/* Шрифт и цвет Имен */
.team-photos h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      text-align: center;

      letter-spacing: 0.03em;
      color: #212121;
}

/* Шрифт и цвет должностей */
.team-photos p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      text-align: center;

      letter-spacing: 0.03em;
      color: #757575;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* Размеры, отступ сверху и цвет фона футера */
.footer-contacts {
      width: 1600px;
      height: 252px;
      margin-top: 94px;
      background-color: #2F303A;
}

/* Отступы для лого */
.logo-footer {
      margin-top: 60px;
      margin-left: 215px;
}



/* Отступы для поля адреса */
.address {
      margin-top: 20px;
      margin-left: 215px;
      padding: 0px;
}

/* Шрифт и цвет текста поля адрес*/
.footer-contacts>a {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.03em;
      color: white;
}

/* Шрифт для строк адреса физического, почты и телефона */
.address {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      font-style: normal;
}

/* Местоположение элементов списка*/
.address-links {
      padding-left: 0px;
}

/* Цвет текста адреса физический Студии */
.map {
      color: #FFFFFF;
}

/* Цвет текста адреса почты и телефона в Футере */
.mailto,
.tel {
      color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLIO CSS */
.link {
      text-decoration: none;
      font-style: none;
}

.address,
.address-links,
.button,
.card,
.contacts,
.pages,
.team-photos {
      list-style-type: none;
}

.card-1-techno,
.card-2-basket,
.card-3-seafood,
.card-4-prime,
.card-5-boxes,
.card-6-inspiration,
.card-7-book,
.card-8-lab,
.card-9-business {
      width: 370px;
      height: 404px;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
}






















/* TRAINING*/
/* Выбор всего меню */
.menu {
      list-style-type: none;
      border: 2px solid black;
      display: flex;
      flex-direction: row-reverse;
}

/* Выбор из всего меню только детей(вложенность первого уровня) */
.menu>li {
      border: 2px solid blueviolet;
}

/* Выбор из всего меню только элементов(все уровни вложенности)
 а(ссылка) с атрибутом href имеющим значение
  в конце строки конкретных символов */
.menu a[href$="5.com"] {
      background-color: aquamarine;
      border: 2px solid rgb(10, 180, 10);
}

/* Выбор из всего меню только элементов(все уровни вложенности)
 li(элемент списка) с атрибутом class(класс) 
имеющим значение в начале строки конкретных символов */
.menu li[class^="menu-item-1"] {
      background-color: rgb(180, 221, 207);
}

/* Очистка меток оформления элементов списков-детей */
.sub-menu-1,
.sub-menu-2,
.sub-menu-3,
.sub-menu-4,
.sub-menu-5 {
      list-style-type: none;
}

/* Убрать подчёркивание ссылок */
.menu a[href^="https"] {
      text-decoration: none;
}


/* 
Проект
++«A1» В корне проекта есть папка images с изображениями. 
++«A2» В корне проекта есть папка css с файлами стилей. 
++«A3» Все стили написаны в одном файле styles.css,который находится в папке css. 
++«A4» В названиях файлов нет заглавных букв,пробелов и транслита,только буквы и слова английского языка. 
++«A5» Исходный код отформатирован при помощи Prettier. 
++«A6» Все изображения и текстовый контент взяты из макета. 
++«A7» Все растровые изображения оптимизированы используя squoosh. 
++«A8» Код написан следуя руководству. 

Разметка 
++«B1» Разметка страницы Портфолио набрана в файле portfolio.html. 
++«B2» Выполнена HTML-разметка всех элементов макета. 
-+«B3» Теги использованы согласно их семантического смысла. 
-+«B4» HTML проходит проверку валидатором без ошибок. 
--«B5» Имена классов описательные и понятные другому разработчику. 
--«B6» Имена классов не содержат заглавных букв,пробелов,транслита и названий тегов,только буквы и слова английского языка. 
      Если имя класса состоит из нескольких слов,они разделяются дефисом. 
--«B7» Атрибут href навигационных ссылок Студия и Портфолио содержит относительный путь к HTML-файлам этих страниц. 
      При нажатии по ссылке происходит переход на соответствующую страницу в текущей вкладке браузера. 
--«B8» У тегов <img> указаны атрибуты размеров,как минимум width. 
--«B9» Изображения экспортированы из макета в формате jpg. 
--«B10» Группы однотипных элементов собраны в списки <ul>. 
-+«B11» Фильтр на странице Портфолио выполнен списком кнопок,
      каждой из которых задан атрибут type="button" . 
++«B12» Разметка хедера и футера одинаковая на всех страницах. 
++«B13» Все необходимые по макету шрифты и их вариации (вес и начертание) подключены с сервиса Google Fonts одной ссылкой. Необходимый вес для Raleway – 700,
      а для Roboto – 400,500,700 и 900. 
++«B14» Внутри разметки кнопок нет дополнительных элементов,
        например спанов или ссылок.

Оформление 
++«C1» Нет глобальных стилей элементов кроме <body>.
--«C2» Для оформления используются селекторы класса. 
++«C3» В стилях отсутствует !important. 
--«C4» У интерактивных элементов (кнопок и ссылок),
      при наведении мышкой или фокусе с клавиатуры,
      есть активное состояние указанное в макете (изменение цвета). 
--«С5» Текст контактов в хедере и футере меняет цвет при ховере и фокусе. 
--«C6» Для хранения палитры цветов макета (текст, фон, выделение) используются CSS-переменные. 
--«С7» Для элемента <body> задано свойство font-family с доминантным    на макете шрифтом Roboto. 
--«С8» Указаны альтернативные варианты шрифта и тип семейства (без засечек) в конце перечисления font-family у элемента <body>. 
--«С9» Семейство шрифтов Roboto явно задано только для элемента <body>,
      остальные элементы наследуют его. 
--«С10» Для элемента <body> задано свойство color с доминантным на макете цветом текста. Остальной текст наследует или переопределяет это значение. 
--«С11» Размер шрифта (свойство font-size) всех текстовых элементов точно соответствует значениям из макета. 
--«С12» Высота строки (свойство line-height) всех текстовых элементов точно соответствует значениям из макета и задана как множитель,
      а не в px. 
--«С13» Цвет (свойство color) всех текстовых элементов точно соответствует значениям из макета. 
--«С14» Вес шрифта (свойство font-weight) всех текстовых элементов точно соответствует значениям из макета. 
--«С15» Вес шрифта (свойство font-weight) явно указан только если значение в макете отличается от стандартного для этого элемента в браузере. 
--«С16» Кнопкам задано свойство cursor со значением pointer. 
--«С17» В стилях не повторяются значения свойств, которые заданы браузером по умолчнаию. Например, ссылкам не нужно указывать cursor: pointer,
      а абзацам font-style: normal или font-weight: 400. 
*/